# The only version that works currently
duckcli==0.0.1

# Database adapter
dbt-duckdb>=1.1.2,<1.2.0

# Look for `profiles.yml` in the current working directory to avoid needing to `export DBT_PROFILES_DIR=.`
git+https://github.com/dbt-labs/dbt-core.git@experiment/local-profiles-1.1.1#egg=dbt-core&subdirectory=core
git+https://github.com/dbt-labs/dbt-core.git@experiment/local-profiles-1.1.1#egg=dbt-postgres&subdirectory=plugins/postgres
