dbt-duckdb == 1.1.1
git+https://github.com/dbt-labs/dbt-core.git@experiment/local-profiles#egg=dbt-core&subdirectory=core
git+https://github.com/dbt-labs/dbt-core.git@experiment/local-profiles#egg=dbt-postgres&subdirectory=plugins/postgres
