# 3rd party CLI for DuckDB
duckcli>=0.2.1,<0.3.0

# Database adapter
dbt-duckdb>=1.9.1,<2.0.0

# dbt Core 1.
dbt-core>=1.9.2,<2.0.0

# extra features
sqlfluff>=3.3.1,<4.0.0

# visualization 
visivo>=1.0.50,<2.0.0
